<!-- register.component.html -->
<div class="flex flex-col justify-center items-center h-screen md:h-96 w-full p-4 mt-5">
  <div class="w-full sm:w-4/5 md:w-2/3 lg:w-5/12">
    <p-card class="shadow-md my-8">
      <h3 class="heading-3 font-bold text-center mb-2">
        Regístrate
      </h3>

      <p class="text-balance text-center mb-6">
        El uso de esta plataforma está disponible exclusivamente para usuarios en Perú.
      </p>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">

        <!-- <p-floatlabel variant="on">
          <input pInputText id="fullname" formControlName="fullname" fluid="true" />
          <label for="fullname"><i class="pi pi-user me-1"></i> Nombres</label>
        </p-floatlabel>

        @if (isFieldInvalid('fullname')) {
        <small class="text-red-500">
          {{ getErrorMessage('fullname') }}
        </small>
        } -->

        <!-- <p-floatlabel variant="on" class="mt-6">
          <input pInputText id="email" formControlName="email" fluid="true" />
          <label for="email"><i class="pi pi-envelope me-1"></i> Correo</label>
        </p-floatlabel>

        @if (isFieldInvalid('email')) {
        <small class="text-red-500">
          {{ getErrorMessage('email') }}
        </small>
        } -->

        <!-- <p-floatlabel variant="on">
          <input pInputText id="whatsapp" formControlName="whatsapp" autocomplete="off" fluid="true" />
          <label for="whatsapp"><i class="pi pi-whatsapp me-1"></i> WhatsApp</label>
        </p-floatlabel> -->
        <!-- <input pInputText id="whatsapp" formControlName="whatsapp" autocomplete="off" fluid="true"
        (keypress)="onlyNumbers($event)"
        (input)="formatWhatsapp($event)"
        maxlength="11" />
        <label for="whatsapp"><i class="pi pi-whatsapp me-1"></i> WhatsApp</label> -->

        <!-- <p-floatlabel variant="on">
          <input pInputText id="whatsapp" formControlName="whatsapp" autocomplete="off" fluid="true"
                type="tel"
                inputmode="numeric"
                pattern="[0-9]*"
                (keypress)="onlyNumbers($event)"
                (input)="formatWhatsapp($event)"
                maxlength="11" />
          <label for="whatsapp"><i class="pi pi-whatsapp me-1"></i> WhatsApp</label>
        </p-floatlabel> -->
        <p-inputgroup>
              <p-inputgroup-addon>
                  +51
              </p-inputgroup-addon>
              <p-floatlabel>
                  <input pInputText id="whatsapp"  formControlName="whatsapp" autocomplete="off" fluid="true"
            type="tel"
            inputmode="numeric"
            pattern="[0-9]*"
            (keypress)="onlyNumbers($event)"
            (input)="formatWhatsapp($event)"
            maxlength="11" />
            <label for="whatsapp"><i class="pi pi-whatsapp me-1"></i> WhatsApp</label>
              </p-floatlabel>
          </p-inputgroup>

        @if (isFieldInvalid('whatsapp')) {
        <small class="text-red-500">
          {{ getErrorMessage('whatsapp') }}
        </small>
        }

        <div class="flex justify-center mt-6">
          <p-button type="submit" label="Registrar" icon="pi pi-plus" [loading]="isLoading"
            [disabled]="registerForm.invalid || isLoading" />
        </div>

        <p class="mt-4 text-center text-sm hover:underline cursor-pointer">
          <a [routerLink]="['/login']">
            Ya tienes cuenta?, iniciar sesión
          </a>
        </p>

        <!-- <p class="my-3 text-center text-sm cursor-pointer text-gray-400">
          <a [routerLink]="['/forgot-password']">
            Recuperar contraseña
          </a>
        </p> -->
      </form>
    </p-card>
  </div>
</div>

<p-toast [breakpoints]="{ '780px': { width: '80%', right: '8' } }" />
