<!-- login.component.html -->
<div class="flex flex-col justify-center items-center h-screen md:h-96 w-full p-4">
  <div class="w-full sm:w-4/5 md:w-2/3 lg:w-5/12">
    <p-card class="shadow-md my-8">
      <h3 class="heading-3 font-bold text-center mb-2">
        Iniciar sesión
      </h3>
      <p class="text-balance text-center mb-6">
        Accede fácilmente con tu número de WhatsApp.
      </p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- <p-floatlabel variant="on">
          <input pInputText id="whatsapp" formControlName="whatsapp" autocomplete="off" fluid="true" />
          <label for="whatsapp"><i class="pi pi-whatsapp me-1"></i> WhatsApp</label>
        </p-floatlabel> -->

            <!-- <input pInputText id="whatsapp" formControlName="whatsapp" autocomplete="off" fluid="true"
            (keypress)="onlyNumbers($event)"
                (input)="formatWhatsapp($event)"
                maxlength="11" />
                <label for="whatsapp"><i class="pi pi-whatsapp me-1"></i> WhatsApp</label> -->
          <!-- <p-floatlabel variant="on">
            <input pInputText id="whatsapp" formControlName="whatsapp" autocomplete="off" fluid="true"
            type="tel"
            inputmode="numeric"
            pattern="[0-9]*"
            (keypress)="onlyNumbers($event)"
            (input)="formatWhatsapp($event)"
            maxlength="11" />
            <label for="whatsapp"><i class="pi pi-whatsapp me-1"></i> WhatsApp</label>
          </p-floatlabel> -->


          <p-inputgroup>
              <p-inputgroup-addon>
                  +51
              </p-inputgroup-addon>
              <p-floatlabel>
                  <input pInputText id="whatsapp"  formControlName="whatsapp" autocomplete="off" fluid="true"
            type="tel"
            inputmode="numeric"
            pattern="[0-9]*"
            (keypress)="onlyNumbers($event)"
            (input)="formatWhatsapp($event)"
            maxlength="11" />
            <label for="whatsapp"><i class="pi pi-whatsapp me-1"></i> WhatsApp</label>
              </p-floatlabel>
          </p-inputgroup>

        @if (isFieldInvalid('whatsapp')) {
                <small class="text-red-500">
                  {{ getErrorMessage('whatsapp') }}
                </small>
                }


        @if (codeSended()) {
        <p-floatlabel variant="on" class="mt-6">
          <div class="card flex justify-center">
            <p-inputotp id="code" formControlName="code" [integerOnly]="true" [length]="6" size="small" />
            <!-- <p-inputotp id="code" formControlName="code"
              [integerOnly]="true"
              [length]="6"
              size="small"
              inputmode="numeric" /> -->
          <!-- <p-inputotp id="code" formControlName="code"
            [integerOnly]="true"
            [length]="6"
            size="small"
            (onFocus)="forceNumericKeyboard()"
            class="numeric-otp" /> -->
            <!-- <p-inputotp id="code" formControlName="code"
              [integerOnly]="true"
              [length]="6"
              size="small"
              (onFocus)="forceNumericKeyboard()"
              (onInput)="handleOtpInput($event)"
              class="numeric-otp" /> -->
          </div>
        </p-floatlabel>

        <div class="flex justify-center">
          @if (isFieldInvalid('code')) {
          <small class="text-red-500">
            {{ getErrorMessage('code') }}
          </small>
          }
        </div>
        }
        <!-- boton de iniciar sesion -->
        <div class="flex justify-center mt-6">
          @if (codeSended()) {
          <p-button type="submit" label="Iniciar sesión" [loading]="isLoading"
            [disabled]="loginForm.invalid || isLoading" />
          } @else {
          <p-button label="Enviar código" [loading]="isLoading" icon="pi pi-key"
            [disabled]="loginForm.value.whatsapp.length < 9 || isLoading" (onClick)="requestLoginCode()" />
          }
        </div>

        @if (codeSended()) {
        <p class="my-4 text-center text-sm">
          @if (canResendCode()) {
          <a (click)="requestLoginCode()" class="cursor-pointer text-blue-500 hover:text-blue-600">
            Reenviar código
          </a>
          } @else {
          <span class="text-gray-500">
            Reenviar código en: {{ countdown() }}s
          </span>
          }
        </p>
        }

        <p class="mt-4 text-center underline cursor-pointer">
          <a [routerLink]="['/register']">
            <i class="pi pi-user-plus me-1"></i> Crear cuenta
          </a>
        </p>

        <!-- <p class="my-3 text-center text-sm cursor-pointer text-gray-400">
          <a [routerLink]="['/forgot-password']">
            Recuperar contraseña
          </a>
        </p> -->
      </form>
    </p-card>
  </div>
</div>

<p-toast [breakpoints]="{ '780px': { width: '80%', right: '8' } }" />
