<!-- reset-password.component.html -->
<div class="flex flex-col justify-center items-center h-screen md:h-96 w-full p-4">
  <div class="w-full sm:w-4/5 md:w-2/3 lg:w-5/12">
    <p-card class="shadow-md my-8">
      <h3 class="heading-3 font-bold text-center mb-4">
        Cambiar contraseña
      </h3>

      <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
        <p-floatlabel variant="on" class="mt-6">
          <p-password formControlName="password" inputId="password" [toggleMask]="true" fluid="true" feedback="false"
            class="font-mono" />
          <label for="password"><i class="pi pi-key me-1"></i> Contraseña</label>
        </p-floatlabel>

        @if (isFieldInvalid('password')) {
        <small class="text-red-500">
          {{ getErrorMessage('password') }}
        </small>
        }

        <div class="flex justify-center mt-6">
          <p-button type="submit" label="Actalizar contraseña" [loading]="isLoading"
            [disabled]="resetForm.invalid || isLoading" />
        </div>

        <p class="mt-4 text-center underline text-purple-500 cursor-pointer">
          <a [routerLink]="['/login']">
            <i class="pi pi-arrow-left me-1"></i> Regresar
          </a>
        </p>

      </form>
    </p-card>
  </div>
</div>

<p-toast />
