<!-- login.component.html -->
<div class="flex flex-col justify-center items-center h-screen md:h-96 w-full p-4">
  <div class="w-full sm:w-4/5 md:w-2/3 lg:w-5/12">
    <p-card class="shadow-md my-8">
      <h3 class="heading-3 font-bold text-center mb-4">
        Recuperar contraseña
      </h3>

      <p class="marfa-light-italic-sm mb-6">
        Ingrese su número de WhatsApp registrado para recibir un enlace para poder restaurar su contraseña.
      </p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p-floatlabel variant="on">
          <p-inputmask id="whatsapp" formControlName="whatsapp" mask="999 999 999" styleClass="w-full" />
          <label for="whatsapp"><i class="pi pi-whatsapp me-1"></i> WhatsApp</label>
        </p-floatlabel>

        @if (isFieldInvalid('whatsapp')) {
        <small class="text-red-500">
          {{ getErrorMessage('whatsapp') }}
        </small>
        }

        <div class="flex justify-center mt-6">
          <p-button type="submit" label="Obtener enlace" icon="pi pi-key" [loading]="isLoading"
            [disabled]="loginForm.invalid || isLoading" />
        </div>
      </form>
    </p-card>
  </div>
</div>

<p-toast />
