<div class="min-h-96">
  <div class="card flex justify-center">
    <p-accordion value="0">
      <!-- Registro y Cuenta -->
      <p-accordion-panel value="0">
        <p-accordion-header>Registro y Cuenta</p-accordion-header>
        <p-accordion-content>
          <p class="m-0">
            <strong class="heading-4">¿Cómo me registro en la aplicación?</strong><br>
            Para registrarte, solo necesitas ingresar tu número de WhatsApp. Recibirás un código de verificación de 6
            dígitos que deberás introducir para completar el registro.
          </p>
          <p class="m-0 mt-3">
            <strong class="heading-4">¿Qué hago si olvido mi contraseña?</strong><br>
            No te preocupes. Puedes recuperarla fácilmente mediante la opción <a routerLink="/forgot-password"
              class="text-primary">"Recuperar contraseña"</a> en la pantalla de
            inicio de sesión. Recibirás un código de recuperación en tu WhatsApp registrado.
          </p>
          <p class="m-0 mt-3">
            <strong class="heading-4">¿Es seguro proporcionar mi número de WhatsApp?</strong><br>
            Sí, utilizamos tu número de WhatsApp únicamente para verificar tu identidad y enviarte notificaciones sobre
            tus productos registrados. No compartimos tu información con terceros.
          </p>
        </p-accordion-content>
      </p-accordion-panel>

      <!-- Funcionamiento -->
      <p-accordion-panel value="1">
        <p-accordion-header>Funcionamiento</p-accordion-header>
        <p-accordion-content>
          <p class="m-0">
            <strong class="heading-4">¿Qué hace exactamente la aplicación?</strong><br>
            La aplicación te permite monitorear precios y disponibilidad de productos en línea. Registras las URLs de
            los productos que te interesan, y nuestro sistema las revisa periódicamente, notificándote sobre cualquier
            cambio.
          </p>
          <p class="m-0 mt-3">
            <strong class="heading-4">¿Con qué frecuencia se actualizan los precios?</strong><br>
            Nuestro sistema revisa los precios regularmente. La frecuencia exacta puede variar según la carga del
            servidor, pero generalmente las actualizaciones ocurren varias veces al día.
          </p>
          <p class="m-0 mt-3">
            <strong class="heading-4">¿Puedo ver el historial de precios de un producto?</strong><br>
            Sí, dentro de los detalles de cada producto encontrarás una gráfica que muestra el historial de precios
            desde que comenzaste a seguir el producto.
          </p>
          <p class="m-0 mt-3">
            <strong class="heading-4">¿Qué tiendas o sitios web son compatibles?</strong><br>
            Nuestra aplicación es compatible con la mayoría de las tiendas online del Perú como <span
              class="marfa-italic-md">Falabella
              (falabella, sodimac, tottus, linio), mercado libre, oechsle, platanitos, plazavea y ripley</span>. Si
            encuentras algún sitio
            que no funciona correctamente, por favor contáctanos para añadirlo a nuestra lista de compatibilidad.
          </p>
        </p-accordion-content>
      </p-accordion-panel>

      <!-- Notificaciones -->
      <p-accordion-panel value="2">
        <p-accordion-header>Notificaciones</p-accordion-header>
        <p-accordion-content>
          <p class="m-0">
            <strong class="heading-4">¿Cómo recibiré las notificaciones?</strong><br>
            Recibirás notificaciones a través de WhatsApp y también en la casilla de alertas dentro de la
            aplicación.
          </p>
          <p class="m-0 mt-3">
            <strong class="heading-4">¿Puedo elegir recibir solo notificaciones en la aplicación y no en
              WhatsApp?</strong><br>
            No, nuestra aplicación necesita de WhatsApp para hacerle llegar la notificación de los cambios lo más pronto
            posible para yudarte a comprar el prodcuto en el momento oportuno.
          </p>
          <p class="m-0 mt-3">
            <strong class="heading-4">¿Qué tipo de cambios me notificará la aplicación?</strong><br>
            La aplicación te notificará sobre cambios en el precio, ya sean subidas del precio o disminuciones con su
            respectivo porcentaje y fecha de cambio.
          </p>
        </p-accordion-content>
      </p-accordion-panel>

      <!-- Planes y Pagos -->
      <p-accordion-panel value="3">
        <p-accordion-header>Planes y Pagos</p-accordion-header>
        <p-accordion-content>
          <p class="m-0">
            <strong class="heading-4">¿Cuál es la diferencia entre el plan básico y el premium?</strong><br>
            El plan básico es gratuito y te permite registrar hasta 5 productos para monitorear simultáneamente. El plan
            premium cuesta
            S/ 10 mensuales y te permite registrar una cantidad ilimitada de productos o URLs.
          </p>
          <p class="m-0 mt-3">
            <strong class="heading-4">¿Cómo puedo actualizar a la versión premium?</strong><br>
            Cuando llegues a registrar 5 URLs o productos, nuestro sistema te pedirá automáticamente que registres una
            suscripcion, pero si no deseas hacerlo, los 5 prodcutos se realizarán el seguimiento de manera normal.
          </p>
          <p class="m-0 mt-3">
            <strong class="heading-4">¿Qué métodos de pago aceptan?</strong><br>
            Aceptamos pago mediante Yape, en versiones futuras incluiremos más medios de pago soportados. Los detalles
            completos están disponibles en la sección de pago.
          </p>
          <p class="m-0 mt-3">
            <strong class="heading-4">Si cancelo mi suscripción premium, ¿perderé mis productos
              registrados?</strong><br>
            Si tienes más de 5 productos registrados y cancelas tu suscripción, mantendremos todos tus productos pero
            solo se actualizarán los primeros 5. Puedes elegir cuáles mantener activos desde tu perfil.
          </p>
        </p-accordion-content>
      </p-accordion-panel>

      <!-- Problemas Técnicos -->
      <p-accordion-panel value="4">
        <p-accordion-header>Problemas Técnicos</p-accordion-header>
        <p-accordion-content>
          <p class="m-0">
            <strong class="heading-4">¿Qué hago si la aplicación no detecta correctamente el precio de un
              producto?</strong><br>
            Algunos sitios web tienen estructuras complejas que pueden dificultar la detección de precios. Puedes
            reportar el problema a través de la opción "Reportar error" en los detalles del producto.
          </p>
          <p class="m-0 mt-3">
            <strong class="heading-4">¿Por qué dejé de recibir notificaciones?</strong><br>
            Verifica que no hayas desactivado las notificaciones en tu teléfono. También asegúrate de que tu suscripción
            esté activa y que tengas una conexión a internet estable. Si el problema persiste, contacta a nuestro
            soporte técnico.
          </p>
          <p class="m-0 mt-3">
            <strong class="heading-4">¿La aplicación funciona con cualquier navegador?</strong><br>
            Nuestra aplicación web es compatible con los navegadores modernos como Chrome, Firefox, Safari y Edge. Para
            una mejor experiencia, recomendamos mantener tu navegador actualizado.
          </p>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  </div>
</div>
