@if (productService.isLoading()) {
<div class="my-8">
  <div class="card my-4">
    <p-skeleton width="60%" height="2rem"></p-skeleton>
  </div>

  <div class="card my-4">
    <p-skeleton height="20rem" class="mt-4"></p-skeleton>
  </div>


  <div class="card my-4">
    <p-skeleton height="20rem" class="mt-4"></p-skeleton>
  </div>
</div>
}

@if (!productService.isLoading()){

<div class="card my-6">
  <h3>{{productService.priceHistory().productInfo.title}}</h3>
  <p-chart type="line" [data]="data" [options]="options" class="h-[20rem]" />
</div>

<div class="mt-8 grid grid-cols-1 lg:grid-cols-2 gap-4">
  <div class="card flex justify-center items-center h-96">
    <img [src]="productService.priceHistory().productInfo.image" [alt]="productService.priceHistory().productInfo.title"
      class="rounded-md object-contain max-h-full">
  </div>

  <div class="flex align-middle">
    <p-card [header]="productService.priceHistory().productInfo.title">
      <p class="m-0 text-sm">
        {{productService.priceHistory().productInfo.description | slice:0:500}}...
      </p>

      <div class="mt-8 flex justify-center">
        <p-button severity="contrast"
          label="Comprar {{productService.priceHistory().productInfo.currentPrice | currency: 'S/ '}}"
          icon="pi pi-cart-plus" class="w-full" styleClass="w-full"
          (click)="confirm(productService.priceHistory().productInfo.title, productService.priceHistory().productInfo.url, productService.priceHistory().productInfo.urlId)" />
      </div>

      <a href="{{productService.priceHistory().productInfo.url}}" target="_blank">
        <div class="flex justify-center items-center mt-4">
          <small class="me-2">Ir a la tienda</small>
          <img src="../../../../assets/svg/{{productService.priceHistory().productInfo.url|extractDomain}}.svg"
            alt="Logo {{productService.priceHistory().productInfo.url|extractDomain}}">
        </div>
      </a>
    </p-card>
  </div>

  <!-- confirm dialog -->
  <p-confirmdialog #cd>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
      <div class="flex flex-col items-center p-8 rounded">
        <div
          class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20">
          <i class="pi pi-check !text-5xl"></i>
        </div>
        <span class="font-bold text-xl block mb-2 mt-6">{{ message.header }}</span>
        <p class="mb-0 text-sm">{{ message.message }}</p>
        <div class="flex items-center gap-2 mt-6">
          <p-button label="Confirmar" (onClick)="onAccept()" styleClass="w-32"></p-button>
          <p-button label="Cancelar" [outlined]="true" (onClick)="onReject()" styleClass="w-32"></p-button>
        </div>
      </div>
    </ng-template>
  </p-confirmdialog>
</div>
}
