<div class="mt-24">
  <hr>
</div>

<footer class="mt-4">
  <section class="bg-gray-900 py-10 px-4 md:px-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="text-white text-center md:text-left">
        <img src="../../../../../assets/svg/logo-white.svg" alt="logo acllabay" class="mx-auto md:mx-0 w-28 cursor-pointer"
          [routerLink]="(['/'])">
        <div class="mt-4 flex justify-center md:justify-start">
          <a href="https://web.facebook.com/profile.php?id=61575085161521" target="_blank">
            <i class="pi pi-facebook me-3 text-xl hover:text-blue-500 cursor-pointer"></i>
          </a>
          <a href="https://www.instagram.com/acllabay" target="_blank" >
            <i class="pi pi-instagram me-3 text-xl hover:text-pink-500 cursor-pointer"></i>
          </a>
          <a href="https://www.tiktok.com/@acllabay" target="_blank">
            <i class="pi pi-tiktok me-3 text-xl cursor-pointer"></i>
          </a>
          <a href="https://www.youtube.com/@Acllabay" target="_blank">
            <i class="pi pi-youtube me-3 text-xl hover:text-red-500 cursor-pointer"></i>
          </a>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-white">
        <div class="text-center md:text-left">
          <h3 class="font-bold mb-3 heading-4 text-primary">Producto</h3>
          <p class="mb-2 hover:text-primary-200 marfa-light-italic-sm cursor-pointer">
            <a [routerLink]="(['/tutorials'])" routerLinkActive="text-primary">
              Tutoriales
            </a>
          </p>
          <p class="mb-2 hover:text-primary-200 marfa-light-italic-sm cursor-pointer">
            <a [routerLink]="(['/plans'])" routerLinkActive="text-primary">
              Planes
            </a>
          </p>
          <p class="mb-2 hover:text-primary-200 marfa-light-italic-sm cursor-pointer">Descripción general</p>
        </div>
        <div class="text-center md:text-left">
          <h6 class="font-bold mb-3 heading-4 text-primary">Empresa</h6>
          <p class="mb-2 hover:text-primary-200 marfa-light-italic-sm cursor-pointer">
            <a [routerLink]="(['/about'])" routerLinkActive="text-primary">
              Nosotros
            </a>
          </p>
          <p class="mb-2 hover:text-primary-200 marfa-light-italic-sm cursor-pointer">
            <a [routerLink]="(['/contact'])" routerLinkActive="text-primary">
              Contacto
            </a>
          </p>
          <p class="mb-2 hover:text-primary-200 marfa-light-italic-sm cursor-pointer">
            <a [routerLink]="(['/faqs'])" routerLinkActive="text-primary">
              Preguntas frecuentes
            </a>
          </p>
        </div>
        <div class="text-center md:text-left">
          <h6 class="font-bold mb-3 heading-4 text-primary">Recursos</h6>
          <p class="mb-2 hover:text-primary-200 marfa-light-italic-sm cursor-pointer">
            <a [routerLink]="(['/tutorials'])" routerLinkActive="text-primary">
              Tutoriales
            </a>
          </p>
          <p class="mb-2 hover:text-primary-200 marfa-light-italic-sm cursor-pointer">Soporte</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-black text-white py-2">
    <p class="text-center"> © 2025 Copyright acllabay.com </p>
  </section>

</footer>
